<div style="border: 1px solid red;">
	{{ dogName }} {{ bark }} {{ size }} {{ _local }}
	<p ng-if="size === 'big'" ng-class="title">Big Dog's name is {{ dogName }} size is {{ size }}</p>
	<p ng-if="size === 'small'" ng-class="title">Small Dog's name is {{ dogName }} size is {{ size }}</p>
</div>