<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/angular-ui-router.min.js"></script>
</head>

<body>
    <div id='container'></div>

    AngularJS notes
    <div ng-app="myApp" ng-controller="myController">
        <nav>
            <a ui-sref="home">home</a>
            <a ui-sref="about">about</a>
            <a ui-sref="billingSummary">billingSummary</a>
            1,2
        </nav>
        <input type="text" ng-model="data.input" />
        <p> You said {{data.input}}</p>
        <p>CachedName: {{data.cachedName}}</p>
        {{data.name}} {{data.int}}

        <div my-directive="directive">
            <h2>Directive</h2>
        </div>
        <p>big dog directive</p>
       
        <my-dog dog-name="Rex" size="{{data.dogSize}}" bark="woof"></my-dog>
        
        <p>ID: {{data.fixedID}}</p>

        <ui-view>
            <i>Loading ....</i>
        </ui-view>

    </div>


</body>
<script src="app.js"></script>
<script src="/modules/dog/dog.module.js"></script>
<script src="/modules/billing/billing.module.js"></script>
<script src="/modules/billing/billing.controller.js"></script>
<!---script src="myRx.js"></script-->
</html>